.h3{
    align-items: center;
    margin-left:10;
    color:red;
  }
  .h31{
    margin-left:10;
    color:white;
  }
  .logo6{
    margin-left: 590px;
    margin-bottom: 50px;
    padding-top: 50px;
  }
  .createpost{
  
    justify-content: center;
  }
  .post{
    margin-left: 360px;
    background-color: black;
     width:60%;
     padding:40px;
     font-size: 12px;
     border-radius: 30px;
     margin-bottom: 50px;
  }
  .dashboardbtn{
    background-color:blueviolet;
    color:white;
    border:none;
    width: 150px;
  margin-left: 700px;
  }